<div>
    <div class="centered alert titleDiv">
        <h1 class="title" ui-sref="home"><i class="fa fa-shopping-bag largerBag magicTitle"></i> Super-Duper Megastore</h1>
    </div>

    <div class="alert featuredDiv">
        <h2 class="whiteFont" style="margin-bottom: 40px">Contact</h2>
        <p class="featureName" style="font-size: 25px">You can contact us via:</p>
        <p class="featureName" style="font-size: large; margin-bottom: 20px">email: <a class="linkStyle" href="mailto:superdupermegastore@gmail.com">superdupermegastore@gmail.com</a> <i class="fa fa-envelope whiteFont"></i></p>
    </div>

</div>